a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
}

a:focus {
    color: lightgrey;
}

body {
    font-size: 14px;
    font-family: Verdana, sans-serif;
    line-height: 1.2;
    letter-spacing: 0.01rem;
}

p {
    font-size: 12px;
}