/* properties are organized alphabetically. you should just use ctrl + F. */
:root {
    --primary: white;
    --bg: #7B4C4F;
    --header-color: #EDDBCD;
}

a {
    color: black;
    margin-left: 2rem;
    text-decoration: none;
}

/* turns light grey when clicking on link */
a:focus {
    color: lightgrey;
}

/* turns grey when hovering over link */
a:hover {
    color: grey;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--bg);
    font-size: 14px;
    font-family: Verdana, sans-serif;
    line-height: 1.2;
    letter-spacing: 0.01rem;
    max-width: 70%;
}

header {
    display: flex;
    background-color: var(--header-color);
    align-items: center;
    flex-direction: column;
    text-align: center;
}

img {
    clip-path: inset(0 0 200px 0);
    clip-path: circle(25% at 45% 25%);
    margin-top: 1rem;
    margin-bottom: -250px;
    object-fit: cover;
    overflow: hidden;
}

main {
    background-color: var(--primary);
}

p {
    font-size: 12px;
}